.correct {
  background-color: rgba(55, 255, 55, 0.57);
}

.incorrect {
  background-color: rgba(255, 43, 43, 0.57);
}

span {
  box-sizing: content-box;
}
.current {
  background: none;
}

#test-text {
  user-select: none;
  padding: 5px;
  text-align: center;
  cursor: text;
  width: fit-content;
  align-self: center;
}

#test-text:focus {
  outline: none;
}

#test-text:focus .current {
  background: linear-gradient(to right, white 1px, transparent 1px);
  background-position: left;
  background-repeat: no-repeat;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    background: transparent;
  }
}
