.form-check {
  font-size: 0.7em;
  align-self: center;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.back-btn {
  position: absolute;
  margin-left: 5px;
}

#signup-btn {
  margin-left: 5px;
  font-size: 0.7em;
}

.failed {
  outline: 3px solid rgba(255, 0, 0, 0.5);
}

.bad-message {
  color: red;
  font-size: 0.7em;
  display: none;
}