#main-section {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25%;
  right: 25%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
  border-bottom: 2px solid gray;
  padding-inline: 20px;
  padding-block: 5px;
}

#test-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  transform: translateY(25%);
}


.buttons {
  display: flex;
  flex-direction: row;
}

.buttons > button {
  margin-inline: 5px;
  margin-block: 5px;
}

#test-text-spinny {
  position: relative;
  left: 47%;
}
