.correct {
  background-color: rgba(55, 255, 55, 0.57);
}

.incorrect {
  background-color: rgba(255, 43, 43, 0.57);
}

span {
  box-sizing: content-box;
}

.current {
  background: linear-gradient(to right, black 1px, transparent 1px);
  background-position: left;
  background-repeat: no-repeat;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    background: transparent;
  }
}
