:root {
  --main-bg-color: #1f1f1f;
  --sec-bg-color: #525252;
  --main-text-color: #000000;
  --main-button-color: #00a878;
  --main-button-text-color: black;
  --main-button-hover-color: #c0bfbf;
  --main-container-color: #e8eddf;
  --secondary-container-color: #c3c3c3;
  --main-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--main-font);
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

/* CSS for a custom message that is hidden by default */
#mobile-support-message {
  display: none;
}

/* CSS for showing the custom message on screens that are 600px or less */
@media screen and (max-width: 600px) {
  #mobile-support-message {
    display: block;
  }
  #root {
    display: none;
  }
}
